---
import Layout from "../components/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<Layout title={`404: Not Found | ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <main>
    <h1>404: Page not found</h1>
    <p>Sorry, the page you are looking for doesn't exist.</p>
  </main>
</Layout>