---
import Layout from "../components/Layout.astro";
import Tags from "../components/Tags.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import getTags from "../scripts/getTags";

const posts = await Astro.glob("../posts/*.md");
const tags = getTags(posts);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1>404: Page not found</h1>
    <Tags tags={tags} all />
  </main>
</Layout>