---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getAllBooks } from "../lib/books";
import BookList from "../components/BookList";
import { ChakraProvider } from "@chakra-ui/react";

const books = getAllBooks();
---

<html lang="en-us">
  <head>
    <BaseHead title="Books | Your Site" description="My bookshelf" />
  </head>
  <body>
    <Header title="Books" />
    <main>
      <ChakraProvider client:load>
        <BookList books={books} client:load />
      </ChakraProvider>
    </main>
    <Footer />
  </body>
</html>