---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ColorScript from "../components/ColorScript.astro";
import { Content as AboutContent } from './about.md';
---
<html lang="en">
  <head>
    <BaseHead title="Valentin Courtaud" description="Personal website of Valentin Courtaud" />
    <link rel="stylesheet" href="/style/fonts.css" />
    <link rel="stylesheet" href="/style/global.css" />
  </head>
  <body>
    <Header title="Home" />
    <main>
      <section class="intro">
        <AboutContent />
      </section>
    </main>
    <Footer />
    <ColorScript />
  </body>
</html>
<style>
  .intro {
    margin-bottom: 2rem;
  }
  .intro :global(.my-text) {
    white-space: pre-line;
  }
  .intro :global(blockquote) {
    border-left: 4px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  .intro :global(blockquote:before) {
    content: none;
  }
  .intro :global(blockquote cite) {
    display: block;
    margin-top: 0.5em;
    font-style: italic;
  }
</style>