---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";  
import Footer from "../components/Footer.astro";
import Layout from "../components/Layout.astro";

const posts = await Astro.glob('../posts/*.md');
const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.added || new Date()).valueOf() - new Date(a.frontmatter.added || new Date()).valueOf());
---
<Layout title="All Posts" description="All blog posts">
  <main>
    <section>
      <ul>
        {sortedPosts.map((post) => (
          <li>
            <a href={`/post/${post.frontmatter.slug}`}>
              {post.frontmatter.emoji} {post.frontmatter.title}
              <span class="post-date">
                {new Date(post.frontmatter.added).toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric'})}
              </span>
            </a>
          </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 1rem;
  }
  .post-date {
    font-size: 0.8em;
    color: #666;
  }
</style>