:root {
    --white: #efefef;
    --transwhite: rgba(239, 239, 239, 0.7);
    --moretranswhite: rgba(239, 239, 239, 0.1);
    --black: #252525;
    --transblack: rgba(37, 37, 37, 0.7);
    --moretransblack: rgba(37, 37, 37, 0.1);
    --gray: #6b6b6b;
    --highlight: #e5ffc3;
    --red: #e48500;
    --green: #24d05a;
    --pink: #eb4888;
    --blue: #10a2f5;
    --yellow: #e9bc3f;

    --background-color: var(--white);
    --text-color: var(--black);
}

html,
body {
    margin: auto;
    padding: 20px;
    max-width: 70ch;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--text-color);
}

html,
body,
button,
code {
    font-family: "iA Writer Mono", monospace;
}

h1,
strong,
b {
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--black);
        --text-color: var(--white);
        --gray: #a4a4a4;
    }

    ::selection {
        background-color: #0f0f0f;
        color: var(--white);
    }

    body nav {
        background: var(--transblack);
    }

    body code {
        background-color: var(--moretranswhite);
    }

    body .tag {
        color: var(--gray);
    }

    .tag-title {
        color: var(--white);
    }
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--gray);
    line-height: 1.1;
    text-decoration: none;
}

header {
    position: relative;
}

a {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

a:hover,
a:focus {
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

nav {
    position: sticky;
    top: 0;
    text-align: center;
    background: var(--transwhite);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

nav a {
    margin: 25px 0;
}

nav a:not(:last-child) {
    padding: 0 12px 0 0;
}

hr {
    border-top: 1px solid var(--gray);
    margin: 1rem 0;
}

ul.posts-list,
ul.tags-list {
    padding: unset;
    list-style-type: none;
}

.post {
    margin: 0 0 30px 0;
}

.post .title {
    font-size: 1.3em;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    display: inline-block;
    margin-right: 20px;
    color: var(--text-color);
    font-size: 0.8rem;
}

.tag:hover {
    cursor: pointer;
    font-weight: bold;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

main,
content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

code {
    padding: 2px 5px;
    background-color: var(--moretransblack);
    font-weight: bold;
}

pre {
    padding: 1rem;
}

pre > code {
    all: unset;
}

blockquote {
    border: 1px solid var(--gray);
    color: var(--text-color);
    padding: 10px 20px;
    margin: 20px 0;
    font-style: italic;
    background-color: var(--moretranswhite);
    border-radius: 5px;
}

blockquote::before {
    content: none;
}

h1 {
    font-weight: 400;
    text-decoration: none;
    font-size: 2.5rem;
}

h2 {
    font-weight: 400;
    text-decoration: none;
    font-size: 1.5rem;
}

h3, .tag-title {
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.center {
    text-align: center;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.header-frame {
    max-width: 350px;
    text-align: center;
}

.article-title {
    font-size: 2em;
    margin: 0.25em 0;
}

.blog-post {
    font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
}

.blog-post > * + * {
    margin-block-start: 1em;
}

time {
    font-style: italic;
    color: var(--gray);
}

ul li time {
    white-space: nowrap;
}

@media (max-width: 600px) {
    nav a:not(:last-child) {
        padding: 0;
    }
}

body, main {
    background-color: var(--background-color);
}

.main-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
 }
  
  .subtitle {
    font-size: 1rem;
    font-weight: normal;
    color: var(--gray);
    text-align: center;
  }
  
  .header-frame {
    width: 100%;
    max-width: none;
    text-align: center;
  }