---
const { href, class: className, ...props } = Astro.props;
let isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>
<style>
    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }
    a:hover,
    a:focus {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }
    a.active {
        text-decoration: underline;
        text-decoration-thickness: 3px; /* Thicker underline for the active link */
        text-underline-offset: 5px;
    }
</style>
