---
const { href, class: className, ...props } = Astro.props;
let isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>
<style>
    a {
        display: inline-block;
        text-decoration: underline;
        text-decoration-thickness: 0.1ex;
        text-underline-offset: 0.1ex;
        color: inherit;
    }
    a:hover,
    a:focus {
        text-decoration-thickness: 0.2ex;
        text-underline-offset: 0.2ex;
    }
    a.active {
        font-weight: bolder;
    }
</style>
