---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---
<header>
    <div class="header-section">
        <div class="header-frame">
            <h1 class="main-title">{SITE_TITLE}</h1>
            <h2 class="subtitle">{SITE_DESCRIPTION}</h2>
        </div>
    </div>
</header>
<nav>
    <HeaderLink href="/">home</HeaderLink>
    <HeaderLink href="/bookshelf">books</HeaderLink>
    <HeaderLink href="https://valentin.vc/musee-imaginaire/">musée imaginaire</HeaderLink>
    <HeaderLink href="https://www.linkedin.com/in/valentin-courtaud/">linkedin</HeaderLink>
    <HeaderLink href="https://cv.valentin.vc/">cv</HeaderLink>
</nav>
<style>
    h2 {
        margin: 0.5em 0;
    }
</style>