---
import ChakraWrapper from './ChakraWrapper.astro';
import ColorScript from './ColorScript.astro';
import BaseHead from './BaseHead.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

const { title, description } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <ChakraWrapper>
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </ChakraWrapper>
    <ColorScript />
  </body>
</html>