---
import ChakraProviderWrapper from './ChakraProviderWrapper.jsx';
import ColorScript from './ColorScript.astro';
import BaseHead from './BaseHead.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import '../style/global.css';
import '../style/font.css';

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <ChakraProviderWrapper client:load>
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </ChakraProviderWrapper>
    <ColorScript />
  </body>
</html>